.container-home {
    padding-top: 25vh;
    background: linear-gradient(150deg,#7795f8 15%,#6772e5 70%,#555abf 94%);
    min-height: 100vh;
}

.card-home {
    background: transparent;
    border: 0px solid #fff;
}

.img-home {
    max-width: 300px;
    width: 100%;
}

.home-description {
    font: 400 14px "Poppins";
    color: #ffffffcc;
}

.profile-page {
    margin-top: 25vh !important;
    padding-bottom: 25vh !important;
}