.container-home {
    padding-top: 25vh;
}

.card-home {
    background: transparent;
    border: 0px solid #fff;
}

.img-home {
    max-width: 300px;
    width: 100%;
}

.home-description {
    font: 400 14px "Poppins";
    color: #ffffffcc;
}