@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px 'poppins';
    background-color: #222222;
    color: #D5D5D5;
}

h1 {
    font: 600 40 'poppins';
}

h2 {
    font: 700 25 'poppins';
}

.container {
    margin-left: auto;
    margin-right: auto;

    max-width: 1200px;
    width: 100%;
    height: 100vh;
}